In [ ]:
#Downloading necessary libraries
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [ ]:
import os
print(os.getcwd())

/content

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
os.listdir()

Mounted at /content/drive

['.config', 'drive', 'sample_data']

In [ ]:
import os

# List all files in the current directory
files = os.listdir()

# Remove all files with the name '.env'
for file_name in files:
    if file_name.startswith('.env'):
        os.remove(file_name)

# Confirm that the files are removed
files = os.listdir()
print("Remaining files in the workspace:", files)

Remaining files in the workspace: ['.config', 'drive', 'sample_data']

In [ ]:
drive_path = '/content/drive/MyDrive/'

# Checking all files and directories in Google Drive
contents = os.listdir(drive_path)
print(contents)

['Paper_1 (41).gdoc', 'Paper_1 (41).pdf', 'Informality choice- AREQTI.pdf', 'presentation_CERNA (2).pdf', 'Document sans titre (1).gdoc', 'pr_sentation_CERNA (2).pdf', 'CV.areqti (3).pdf', 'ams-acxm-mbm – 19 mars 2023 (1).gjam', 'ams-acxm-mbm – 19 mars 2023.gjam', 'vac-cjhp-bsh – 20 mars 2023.gjam', 'doi-swai-bpr – 26 mars 2023.gjam', 'vgs-uvvf-ryy – 2 avr. 2023.gjam', 'nbk-pxmr-zig – 4 avr. 2023 (3).gjam', 'nbk-pxmr-zig – 4 avr. 2023 (2).gjam', 'nbk-pxmr-zig – 4 avr. 2023 (1).gjam', 'nbk-pxmr-zig – 4 avr. 2023.gjam', 'rra-izho-tpr – 4 avr. 2023.gjam', 'jez-hpdn-tsy – 5 avr. 2023.gjam', 'wuv-qyoo-khz – 6 avr. 2023 (1).gjam', 'wuv-qyoo-khz – 6 avr. 2023.gjam', 'supermarket.csv', 'Colab Notebooks', 'njh-chsz-nag – 27 avr. 2023 (1).gjam', 'njh-chsz-nag – 27 avr. 2023.gjam', 'pcv-idxa-ujg – 1 mai 2023.gjam', 'supermarket (2).gsheet', 'supermarket (1).gsheet', 'final_data.csv', 'final_data.gsheet', 'jrd-ygvk-cjq – 19 juin 2023.gjam', 'etj-uyjh-zyp – 23 juin 2023.gjam', 'dairy.csv', 'loans_full_schema.csv', 'fbj-jknr-bcp – 17 sept. 2023.gjam', 'Fatimaezzahra-resume.pdf', 'fatima-ezzahra-resume.pdf', 'DTI5126_Assignment1.gdoc', 'Supm.gsheet', 'supermarket.gsheet', 'Super predicted.gsheet', 'Fatima-Ezzahra Areqti- Part-time Associate Letter of Offer.docx.pdf', 'Fatima-Ezzahra Areqti- Part-time Associate Letter of Offer.docx.gdoc', 'AREQTI_fezz-resume.pdf', 'Lettre.gdoc', 'Written reflection.gdoc', 'DTI7101.gdoc', 'presentation.gdoc', 'Buyer folio presentation -3110.gslides', 'cqq-gsqc-xid – 2 nov. 2023.gjam', 'Outline.gdoc', 'Feuille de calcul sans titre.gsheet', 'Buyer Folio - 0611.gslides', 'ChatGPT policy.gdoc', 'BI team .gdoc', 'Présentation sans titre.gslides', 'Document sans titre.gdoc', 'Buyer folio.gdoc']

In [ ]:
# Reading the CSV file into a Pandas DataFrame

file_name = 'loans_full_schema.csv'
data_path = '/content/drive/MyDrive/' + file_name
data = pd.read_csv(data_path)
#a glimpse into the data ...
data.head()

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,MORTGAGE,90000.0,Verified,18.01,NaN,NaN,NaN,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,RENT,40000.0,Not Verified,5.04,NaN,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,3.0,WI,RENT,40000.0,Source Verified,21.15,NaN,NaN,NaN,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,1.0,PA,RENT,30000.0,Not Verified,10.16,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,10.0,CA,RENT,35000.0,Verified,57.96,57000.0,Verified,37.66,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0

In [ ]:
#Data type checking
print(data.dtypes)

emp_title                            object
emp_length                          float64
state                                object
homeownership                        object
annual_income                       float64
verified_income                      object
debt_to_income                      float64
annual_income_joint                 float64
verification_income_joint            object
debt_to_income_joint                float64
delinq_2y                             int64
months_since_last_delinq            float64
earliest_credit_line                  int64
inquiries_last_12m                    int64
total_credit_lines                    int64
open_credit_lines                     int64
total_credit_limit                    int64
total_credit_utilized                 int64
num_collections_last_12m              int64
num_historical_failed_to_pay          int64
months_since_90d_late               float64
current_accounts_delinq               int64
total_collection_amount_ever          int64
current_installment_accounts          int64
accounts_opened_24m                   int64
months_since_last_credit_inquiry    float64
num_satisfactory_accounts             int64
num_accounts_120d_past_due          float64
num_accounts_30d_past_due             int64
num_active_debit_accounts             int64
total_debit_limit                     int64
num_total_cc_accounts                 int64
num_open_cc_accounts                  int64
num_cc_carrying_balance               int64
num_mort_accounts                     int64
account_never_delinq_percent        float64
tax_liens                             int64
public_record_bankrupt                int64
loan_purpose                         object
application_type                     object
loan_amount                           int64
term                                  int64
interest_rate                       float64
installment                         float64
grade                                object
sub_grade                            object
issue_month                          object
loan_status                          object
initial_listing_status               object
disbursement_method                  object
balance                             float64
paid_total                          float64
paid_principal                      float64
paid_interest                       float64
paid_late_fees                      float64
dtype: object

In [ ]:
#Data shape checking
data.shape

(10000, 55)

In [ ]:
#counting null values in each column
data.isnull().sum()

emp_title                            833
emp_length                           817
state                                  0
homeownership                          0
annual_income                          0
verified_income                        0
debt_to_income                        24
annual_income_joint                 8505
verification_income_joint           8545
debt_to_income_joint                8505
delinq_2y                              0
months_since_last_delinq            5658
earliest_credit_line                   0
inquiries_last_12m                     0
total_credit_lines                     0
open_credit_lines                      0
total_credit_limit                     0
total_credit_utilized                  0
num_collections_last_12m               0
num_historical_failed_to_pay           0
months_since_90d_late               7715
current_accounts_delinq                0
total_collection_amount_ever           0
current_installment_accounts           0
accounts_opened_24m                    0
months_since_last_credit_inquiry    1271
num_satisfactory_accounts              0
num_accounts_120d_past_due           318
num_accounts_30d_past_due              0
num_active_debit_accounts              0
total_debit_limit                      0
num_total_cc_accounts                  0
num_open_cc_accounts                   0
num_cc_carrying_balance                0
num_mort_accounts                      0
account_never_delinq_percent           0
tax_liens                              0
public_record_bankrupt                 0
loan_purpose                           0
application_type                       0
loan_amount                            0
term                                   0
interest_rate                          0
installment                            0
grade                                  0
sub_grade                              0
issue_month                            0
loan_status                            0
initial_listing_status                 0
disbursement_method                    0
balance                                0
paid_total                             0
paid_principal                         0
paid_interest                          0
paid_late_fees                         0
dtype: int64

In [ ]:
# Cleaning the data
import pandas as pd

# Dropping columns with more than 50% NA's
columns_to_remove = data.columns[data.isna().mean() > 0.5]  # Get columns with > 50% missing values
data.drop(columns=columns_to_remove, inplace=True)  # Drop the selected columns
# Replace NA's with "Unknown" in the 'emp_title' column
data['emp_title'].fillna('Unknown', inplace=True)

In [ ]:
#counting null values in each column
data.isnull().sum()

emp_title                              0
emp_length                           817
state                                  0
homeownership                          0
annual_income                          0
verified_income                        0
debt_to_income                        24
delinq_2y                              0
earliest_credit_line                   0
inquiries_last_12m                     0
total_credit_lines                     0
open_credit_lines                      0
total_credit_limit                     0
total_credit_utilized                  0
num_collections_last_12m               0
num_historical_failed_to_pay           0
current_accounts_delinq                0
total_collection_amount_ever           0
current_installment_accounts           0
accounts_opened_24m                    0
months_since_last_credit_inquiry    1271
num_satisfactory_accounts              0
num_accounts_120d_past_due           318
num_accounts_30d_past_due              0
num_active_debit_accounts              0
total_debit_limit                      0
num_total_cc_accounts                  0
num_open_cc_accounts                   0
num_cc_carrying_balance                0
num_mort_accounts                      0
account_never_delinq_percent           0
tax_liens                              0
public_record_bankrupt                 0
loan_purpose                           0
application_type                       0
loan_amount                            0
term                                   0
interest_rate                          0
installment                            0
grade                                  0
sub_grade                              0
issue_month                            0
loan_status                            0
initial_listing_status                 0
disbursement_method                    0
balance                                0
paid_total                             0
paid_principal                         0
paid_interest                          0
paid_late_fees                         0
dtype: int64

In [ ]:
# Clean NA's : for some columns I replaced with mean value as it made a bit of sense (and save time), for another I just deleted lol
# Replace NA values in specified columns with column means
columns_to_fillna = ['months_since_last_credit_inquiry', 'emp_length', 'num_accounts_120d_past_due']

for column in columns_to_fillna:
    data[column].fillna(data[column].mean(), inplace=True)

data.dropna(inplace=True)
data.isnull().sum()

emp_title                           0
emp_length                          0
state                               0
homeownership                       0
annual_income                       0
verified_income                     0
debt_to_income                      0
delinq_2y                           0
earliest_credit_line                0
inquiries_last_12m                  0
total_credit_lines                  0
open_credit_lines                   0
total_credit_limit                  0
total_credit_utilized               0
num_collections_last_12m            0
num_historical_failed_to_pay        0
current_accounts_delinq             0
total_collection_amount_ever        0
current_installment_accounts        0
accounts_opened_24m                 0
months_since_last_credit_inquiry    0
num_satisfactory_accounts           0
num_accounts_120d_past_due          0
num_accounts_30d_past_due           0
num_active_debit_accounts           0
total_debit_limit                   0
num_total_cc_accounts               0
num_open_cc_accounts                0
num_cc_carrying_balance             0
num_mort_accounts                   0
account_never_delinq_percent        0
tax_liens                           0
public_record_bankrupt              0
loan_purpose                        0
application_type                    0
loan_amount                         0
term                                0
interest_rate                       0
installment                         0
grade                               0
sub_grade                           0
issue_month                         0
loan_status                         0
initial_listing_status              0
disbursement_method                 0
balance                             0
paid_total                          0
paid_principal                      0
paid_interest                       0
paid_late_fees                      0
dtype: int64

In [ ]:
# Checking for outliers in numerical columns
def detect_outliers(column):
    Q1 = column.quantile(0.25)
    Q3 = column.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = column[(column < lower_bound) | (column > upper_bound)]
    return outliers

# Create a summary table for outliers
outlier_summary = pd.DataFrame(columns=['Column Name', 'Number of Outliers', 'Outlier Values', 'Highest Outlier Value'])

# Select only numerical columns for outlier detection
numerical_columns = data.select_dtypes(include=[np.number])

for column_name in numerical_columns.columns:
    outliers = detect_outliers(numerical_columns[column_name])
    num_outliers = len(outliers)
    outlier_values = outliers.tolist()
    highest_outlier = outliers.max() if not outliers.empty else None
    outlier_summary = outlier_summary.append({'Column Name': column_name,
                                              'Number of Outliers': num_outliers,
                                              'Outlier Values': outlier_values,
                                              'Highest Outlier Value': highest_outlier},
                                             ignore_index=True)

# Display the summary table
print(outlier_summary)

##All outliers seem rather logical and do not point out to a problem in the data, so we will keep them.

<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,
<ipython-input-13-dba90a069900>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  outlier_summary = outlier_summary.append({'Column Name': column_name,

                         Column Name Number of Outliers  \
0                         emp_length                  0
1                      annual_income                508
2                     debt_to_income                221
3                          delinq_2y               1420
4               earliest_credit_line                313
5                 inquiries_last_12m                348
6                 total_credit_lines                223
7                  open_credit_lines                327
8                 total_credit_limit                349
9              total_credit_utilized                566
10          num_collections_last_12m                127
11      num_historical_failed_to_pay               1412
12           current_accounts_delinq                  1
13      total_collection_amount_ever               1358
14      current_installment_accounts                815
15               accounts_opened_24m                211
16  months_since_last_credit_inquiry                320
17         num_satisfactory_accounts                324
18        num_accounts_120d_past_due                  0
19         num_accounts_30d_past_due                  1
20         num_active_debit_accounts                263
21                 total_debit_limit                548
22             num_total_cc_accounts                257
23              num_open_cc_accounts                523
24           num_cc_carrying_balance                248
25                 num_mort_accounts                304
26      account_never_delinq_percent                881
27                         tax_liens                246
28            public_record_bankrupt               1213
29                       loan_amount                  0
30                              term                  0
31                     interest_rate                362
32                       installment                207
33                           balance                  0
34                        paid_total                617
35                    paid_principal                828
36                     paid_interest                401
37                    paid_late_fees                 52

                                       Outlier Values Highest Outlier Value
0                                                  []                   NaN
1   [210000.0, 245000.0, 190000.0, 188000.0, 19000...             2300000.0
2   [57.96, 49.58, 74.38, 128.61, 204.13, 80.75, 9...                469.09
3   [1, 1, 1, 1, 3, 1, 1, 1, 1, 4, 1, 1, 7, 1, 3, ...                  13.0
4   [1982, 1977, 1980, 1972, 1975, 1983, 1983, 197...                1983.0
5   [8, 8, 8, 8, 8, 13, 9, 8, 9, 9, 10, 9, 10, 9, ...                  29.0
6   [65, 64, 55, 62, 63, 58, 62, 68, 78, 54, 57, 5...                  87.0
7   [25, 28, 31, 27, 38, 28, 25, 31, 35, 26, 26, 3...                  51.0
8   [772243, 631258, 619105, 795794, 764559, 60430...             3386034.0
9   [151251, 497876, 199983, 159851, 177350, 16518...              942456.0
10  [2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, ...                   3.0
11  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...                  52.0
12                                                [1]                   1.0
13  [1250, 432, 31245, 150, 142, 3943, 154, 667, 3...              199308.0
14  [7, 13, 18, 9, 9, 7, 8, 9, 9, 7, 15, 8, 13, 9,...                  35.0
15  [13, 13, 18, 15, 13, 14, 13, 21, 15, 29, 13, 1...                  29.0
16  [23.0, 23.0, 21.0, 21.0, 23.0, 22.0, 23.0, 23....                  24.0
17  [25, 28, 31, 27, 38, 28, 25, 31, 35, 26, 26, 3...                  51.0
18                                                 []                  None
19                                                [1]                     1
20  [10, 11, 15, 29, 10, 11, 11, 10, 14, 10, 12, 1...                    32
21  [78300, 170900, 77500, 180850, 78500, 104100, ...                386700
22  [53, 36, 37, 37, 35, 33, 33, 49, 40, 45, 34, 5...                    66
23  [20, 20, 21, 22, 20, 20, 27, 19, 22, 18, 30, 1...                    46
24  [14, 20, 15, 14, 14, 15, 16, 15, 15, 17, 17, 1...                    43
25  [7, 6, 6, 7, 6, 7, 6, 10, 6, 7, 6, 6, 6, 6, 6,...                    14
26  [78.1, 63.6, 76.0, 80.0, 66.7, 76.9, 76.2, 68....                  81.3
27  [1, 2, 1, 1, 1, 3, 2, 1, 1, 1, 1, 2, 1, 1, 2, ...                    52
28  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...                     3
29                                                 []                  None
30                                                 []                  None
31  [28.72, 26.77, 30.79, 26.77, 23.87, 23.88, 25....                 30.94
32  [1229.97, 1230.67, 1252.91, 1328.39, 1307.66, ...               1566.59
33                                                 []                  None
34  [5202.6426724643, 20653.717721938, 15005.16687...          41630.443684
35  [5000.0, 20000.0, 15000.0, 7200.0, 4057.81, 16...               40000.0
36  [3485.96, 2567.32, 2045.5, 1811.24, 2150.85, 1...               4216.44
37  [45.12, 20.17, 30.0, 30.75, 32.82, 26.49, 25.6...                 52.98

In [ ]:
# Adding an identity key to not loose connection when seperating into tables

data['identity_key'] = data.reset_index().index

# Display the DataFrame with the new identity key
print(data)

                    emp_title  emp_length state homeownership  annual_income  \
0     global config engineer          3.0    NJ      MORTGAGE        90000.0
1      warehouse office clerk        10.0    HI          RENT        40000.0
2                    assembly         3.0    WI          RENT        40000.0
3            customer service         1.0    PA          RENT        30000.0
4        security supervisor         10.0    CA          RENT        35000.0
...                       ...         ...   ...           ...            ...
9995                   owner         10.0    TX          RENT       108000.0
9996                 director         8.0    PA      MORTGAGE       121000.0
9997                toolmaker        10.0    CT      MORTGAGE        67000.0
9998                  manager         1.0    WI      MORTGAGE        80000.0
9999       operations analyst         3.0    CT          RENT        66000.0

      verified_income  debt_to_income  delinq_2y  earliest_credit_line  \
0            Verified           18.01          0                  2001
1        Not Verified            5.04          0                  1996
2     Source Verified           21.15          0                  2006
3        Not Verified           10.16          0                  2007
4            Verified           57.96          0                  2008
...               ...             ...        ...                   ...
9995  Source Verified           22.28          0                  2008
9996         Verified           32.38          4                  1994
9997         Verified           45.26          2                  2004
9998  Source Verified           11.99          0                  1999
9999     Not Verified           20.82          0                  2005

      inquiries_last_12m  ...  issue_month  loan_status  \
0                      6  ...     Mar-2018      Current
1                      1  ...     Feb-2018      Current
2                      4  ...     Feb-2018      Current
3                      0  ...     Jan-2018      Current
4                      7  ...     Mar-2018      Current
...                  ...  ...          ...          ...
9995                   5  ...     Jan-2018      Current
9996                   1  ...     Feb-2018      Current
9997                   0  ...     Feb-2018      Current
9998                   1  ...     Feb-2018      Current
9999                   0  ...     Feb-2018      Current

      initial_listing_status  disbursement_method   balance  paid_total  \
0                      whole                 Cash  27015.86     1999.33
1                      whole                 Cash   4651.37      499.12
2                 fractional                 Cash   1824.63      281.80
3                      whole                 Cash  18853.26     3312.89
4                      whole                 Cash  21430.15     2324.65
...                      ...                  ...       ...         ...
9995                   whole                 Cash  21586.34     2969.80
9996                   whole                 Cash   9147.44     1456.31
9997              fractional                 Cash  27617.65     4620.80
9998                   whole                 Cash  21518.12     2873.31
9999                   whole                 Cash  11574.83     1658.56

      paid_principal  paid_interest  paid_late_fees  identity_key
0             984.14        1015.19             0.0             0
1             348.63         150.49             0.0             1
2             175.37         106.43             0.0             2
3            2746.74         566.15             0.0             3
4            1569.85         754.80             0.0             4
...              ...            ...             ...           ...
9995         2413.66         556.14             0.0          9971
9996          852.56         603.75             0.0          9972
9997         2382.35        2238.45             0.0          9973
9998         2481.88         391.43             0.0          9974
9999         1225.17         433.39             0.0          9975

[9976 rows x 51 columns]

In [ ]:
# Creating relevant tables

# Define the columns for each table
personal_and_financial_columns = [
    'identity_key', 'emp_title', 'emp_length', 'state', 'homeownership',
    'annual_income', 'verified_income', 'debt_to_income', 'balance',
    'paid_total', 'paid_principal', 'paid_interest', 'paid_late_fees'
]

loan_info_columns = [
    'identity_key', 'loan_purpose', 'application_type', 'loan_amount', 'term',
    'interest_rate', 'installment', 'grade', 'sub_grade', 'issue_month',
    'loan_status', 'initial_listing_status', 'disbursement_method'
]

credit_and_delinquency_columns = [
    'identity_key', 'delinq_2y', 'earliest_credit_line', 'inquiries_last_12m',
    'total_credit_lines', 'open_credit_lines', 'total_credit_limit',
    'total_credit_utilized', 'num_collections_last_12m',
    'num_historical_failed_to_pay', 'current_accounts_delinq',
    'total_collection_amount_ever', 'current_installment_accounts'
]

account_and_credit_card_columns = [
    'identity_key', 'accounts_opened_24m', 'months_since_last_credit_inquiry',
    'num_satisfactory_accounts', 'num_accounts_120d_past_due',
    'num_accounts_30d_past_due', 'num_active_debit_accounts',
    'total_debit_limit', 'num_total_cc_accounts', 'num_open_cc_accounts',
    'num_cc_carrying_balance', 'num_mort_accounts', 'account_never_delinq_percent',
    'tax_liens', 'public_record_bankrupt'
]
# Create the "personal_and_financial_transactions_info" table
personal_and_financial_info = data[personal_and_financial_columns].copy()

# Create the "loan_info" table
loan_info = data[loan_info_columns].copy()

# Create the "credit_and_delinquency_info" table
credit_and_delinquency_info = data[credit_and_delinquency_columns].copy()

# Create the "account_and_credit_card_info" table
account_and_credit_card_info = data[account_and_credit_card_columns].copy()

# Display the created tables
print(personal_and_financial_info)
print(loan_info)
print(credit_and_delinquency_info)
print(account_and_credit_card_info)

      identity_key                emp_title  emp_length state homeownership  \
0                0  global config engineer          3.0    NJ      MORTGAGE
1                1   warehouse office clerk        10.0    HI          RENT
2                2                 assembly         3.0    WI          RENT
3                3         customer service         1.0    PA          RENT
4                4     security supervisor         10.0    CA          RENT
...            ...                      ...         ...   ...           ...
9995          9971                   owner         10.0    TX          RENT
9996          9972                 director         8.0    PA      MORTGAGE
9997          9973                toolmaker        10.0    CT      MORTGAGE
9998          9974                  manager         1.0    WI      MORTGAGE
9999          9975       operations analyst         3.0    CT          RENT

      annual_income  verified_income  debt_to_income   balance  paid_total  \
0           90000.0         Verified           18.01  27015.86     1999.33
1           40000.0     Not Verified            5.04   4651.37      499.12
2           40000.0  Source Verified           21.15   1824.63      281.80
3           30000.0     Not Verified           10.16  18853.26     3312.89
4           35000.0         Verified           57.96  21430.15     2324.65
...             ...              ...             ...       ...         ...
9995       108000.0  Source Verified           22.28  21586.34     2969.80
9996       121000.0         Verified           32.38   9147.44     1456.31
9997        67000.0         Verified           45.26  27617.65     4620.80
9998        80000.0  Source Verified           11.99  21518.12     2873.31
9999        66000.0     Not Verified           20.82  11574.83     1658.56

      paid_principal  paid_interest  paid_late_fees
0             984.14        1015.19             0.0
1             348.63         150.49             0.0
2             175.37         106.43             0.0
3            2746.74         566.15             0.0
4            1569.85         754.80             0.0
...              ...            ...             ...
9995         2413.66         556.14             0.0
9996          852.56         603.75             0.0
9997         2382.35        2238.45             0.0
9998         2481.88         391.43             0.0
9999         1225.17         433.39             0.0

[9976 rows x 13 columns]
      identity_key        loan_purpose application_type  loan_amount  term  \
0                0              moving       individual        28000    60
1                1  debt_consolidation       individual         5000    36
2                2               other       individual         2000    36
3                3  debt_consolidation       individual        21600    36
4                4         credit_card            joint        23000    36
...            ...                 ...              ...          ...   ...
9995          9971               other       individual        24000    36
9996          9972  debt_consolidation       individual        10000    36
9997          9973  debt_consolidation            joint        30000    36
9998          9974               other       individual        24000    36
9999          9975         credit_card       individual        12800    36

      interest_rate  installment grade sub_grade issue_month loan_status  \
0             14.07       652.53     C        C3    Mar-2018     Current
1             12.61       167.54     C        C1    Feb-2018     Current
2             17.09        71.40     D        D1    Feb-2018     Current
3              6.72       664.19     A        A3    Jan-2018     Current
4             14.07       786.87     C        C3    Mar-2018     Current
...             ...          ...   ...       ...         ...         ...
9995           7.35       744.90     A        A4    Jan-2018     Current
9996          19.03       366.72     D        D3    Feb-2018     Current
9997          23.88      1175.10     E        E2    Feb-2018     Current
9998           5.32       722.76     A        A1    Feb-2018     Current
9999          10.91       418.52     B        B4    Feb-2018     Current

     initial_listing_status disbursement_method
0                     whole                Cash
1                     whole                Cash
2                fractional                Cash
3                     whole                Cash
4                     whole                Cash
...                     ...                 ...
9995                  whole                Cash
9996                  whole                Cash
9997             fractional                Cash
9998                  whole                Cash
9999                  whole                Cash

[9976 rows x 13 columns]
      identity_key  delinq_2y  earliest_credit_line  inquiries_last_12m  \
0                0          0                  2001                   6
1                1          0                  1996                   1
2                2          0                  2006                   4
3                3          0                  2007                   0
4                4          0                  2008                   7
...            ...        ...                   ...                 ...
9995          9971          0                  2008                   5
9996          9972          4                  1994                   1
9997          9973          2                  2004                   0
9998          9974          0                  1999                   1
9999          9975          0                  2005                   0

      total_credit_lines  open_credit_lines  total_credit_limit  \
0                     28                 10               70795
1                     30                 14               28800
2                     31                 10               24193
3                      4                  4               25400
4                     22                 16               69839
...                  ...                ...                 ...
9995                  44                 13              199195
9996                  28                 15              382061
9997                  18                 11              346402
9998                  38                 15              294475
9999                  15                 11               91887

      total_credit_utilized  num_collections_last_12m  \
0                     38767                         0
1                      4321                         0
2                     16000                         0
3                      4997                         0
4                     52722                         0
...                     ...                       ...
9995                  77963                         0
9996                 101571                         0
9997                  95421                         0
9998                  27641                         0
9999                  53413                         0

      num_historical_failed_to_pay  current_accounts_delinq  \
0                                0                        0
1                                1                        0
2                                0                        0
3                                1                        0
4                                0                        0
...                            ...                      ...
9995                             1                        0
9996                             0                        0
9997                             0                        0
9998                             0                        0
9999                             0                        0

      total_collection_amount_ever  current_installment_accounts
0                             1250                             2
1                                0                             0
2                              432                             1
3                                0                             1
4                                0                             1
...                            ...                           ...
9995                             0                             3
9996                             0                             3
9997                             0                             3
9998                             0                             2
9999                             0                             5

[9976 rows x 13 columns]
      identity_key  accounts_opened_24m  months_since_last_credit_inquiry  \
0                0                    5                               5.0
1                1                   11                               8.0
2                2                   13                               7.0
3                3                    1                              15.0
4                4                    6                               4.0
...            ...                  ...                               ...
9995          9971                    8                               6.0
9996          9972                    0                               1.0
9997          9973                    4                              16.0
9998          9974                    2                               5.0
9999          9975                    4                              18.0

      num_satisfactory_accounts  num_accounts_120d_past_due  \
0                            10                         0.0
1                            14                         0.0
2                            10                         0.0
3                             4                         0.0
4                            16                         0.0
...                         ...                         ...
9995                         13                         0.0
9996                         15                         0.0
9997                         11                         0.0
9998                         15                         0.0
9999                         11                         0.0

      num_accounts_30d_past_due  num_active_debit_accounts  total_debit_limit  \
0                             0                          2              11100
1                             0                          3              16500
2                             0                          3               4300
3                             0                          2              19400
4                             0                         10              32700
...                         ...                        ...                ...
9995                          0                          4              44600
9996                          0                          5              28200
9997                          0                          5              14900
9998                          0                          1              46000
9999                          0                          5              36800

      num_total_cc_accounts  num_open_cc_accounts  num_cc_carrying_balance  \
0                        14                     8                        6
1                        24                    14                        4
2                        14                     8                        6
3                         3                     3                        2
4                        20                    15                       13
...                     ...                   ...                      ...
9995                     22                     9                        4
9996                     18                    11                        8
9997                      9                     7                        5
9998                     15                     9                        2
9999                      6                     5                        5

      num_mort_accounts  account_never_delinq_percent  tax_liens  \
0                     1                          92.9          0
1                     0                         100.0          0
2                     0                          93.5          0
3                     0                         100.0          1
4                     0                         100.0          0
...                 ...                           ...        ...
9995                  1                         100.0          0
9996                  2                          82.1          0
9997                  2                          72.2          0
9998                  6                         100.0          0
9999                  0                         100.0          0

      public_record_bankrupt
0                          0
1                          1
2                          0
3                          0
4                          0
...                      ...
9995                       1
9996                       0
9997                       0
9998                       0
9999                       0

[9976 rows x 15 columns]

In [ ]:
#Loading stage: installing necessary libraries
!pip install sqlalchemy psycopg2-binary python-decouple pandas

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.23)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 27.2 MB/s eta 0:00:00
Collecting python-decouple
  Downloading python_decouple-3.8-py3-none-any.whl (9.9 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: python-decouple, psycopg2-binary
Successfully installed psycopg2-binary-2.9.9 python-decouple-3.8

In [ ]:
value_counts = data['loan_status'].value_counts()
print(value_counts)

Current               9354
Fully Paid             445
In Grace Period         66
Late (31-120 days)      66
Late (16-30 days)       38
Charged Off              7
Name: loan_status, dtype: int64